.home {
  height: 98vh;
  background-image: url("https://media.giphy.com/media/10539PNHnSuPTi/source.gif");
  border: 1vh solid black;
  display: flex;
  justify-content: center;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f0;
  border: 1vh solid black;
  color: black;
  text-align: center;
  text-transform: uppercase;
  font-family: courier;
  width: 50vw;
  margin: 2vh 0vh;
  word-wrap: break-word;
}

.home-content h3{
  font-size: 4vw;
  margin: 0;
  padding: 1vh 0vh;
}

.nav {
  list-style-type: none;
  margin-top: 5vw;
}
.nav li {
  font-size: 2vw;
  margin-bottom: 2vw;
}