.home {
  height: 98vh;
  width: (100vw-2vh);
  background-image: url("https://media.giphy.com/media/10539PNHnSuPTi/source.gif");
  border: 1vh solid black;
  display: flex;
  justify-content: center;
}

.home-content {
  background-color: rgba(255, 232, 140, 0.5);
  color: black;
  border: 1vh solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: courier;
  width: 80vw;
  height: 86vh;
  margin: 5vh 5vh;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.home-content h3{
  height: 20vh;
  font-size: 4vw;
  margin: 0;
  padding-top: 1vh;
  text-decoration: underline;
}

.nav-container {
  height: 65vh;
}

.nav-table {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
}

.nav-table td {
  font-size: 2vw;
  font-weight: normal;
  margin-bottom: 8vh;
}

.nav-table td:hover{
  cursor: pointer;
  font-weight: bold;
  padding-left: 5vh;
}
