.home {
  height: 98vh;
  background-image: url("https://media.giphy.com/media/10539PNHnSuPTi/source.gif");
  border: 1vh solid black;
  display: flex;
  justify-content: center;
}

.home-content {
  background-color: #f5f5f0;
  color: black;
  border: 1vh solid black;
  text-align: center;
  text-transform: uppercase;
  font-family: courier;
  width: 70vw;
  height: 55vh;
  margin: 2vh 0vh;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-content h3{
  font-size: 4vw;
  margin: 0;
  padding: 1vh 0vh;
  text-decoration: underline;
}

.nav-container {
  display: flex;
  justify-content: flex-start;
}

.nav-table {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-top: 3vh;
  padding-left: 3vh;
}

.nav-table th {
  font-size: 2vw;
  font-weight: normal;
  margin-bottom: 2vw;
}
